<div class="container">
  <div class="row" style="padding: 5px">
    <div class="col-md-7">
      <h1 style="margin-top: 100px;font-weight: bold;color: #393c43;">Welcome to <i>Celebrate7</i></h1>
      <h3 style="color: #393c43;">Please create an account to create events</h3>
      <!-- <img
        class="img-fluid"
        src="assets/image/registration.png"
        style="height: 400px; opacity: 0.9;box-shadow: 12px 12px 18px 4px rgba(40, 41, 43, 0.7);"
        alt="Celebrate7"
      /> -->
    </div>
    <div class="col-md-5">
      <div class="rregister-card mmt-5">
        <h3 class="text-center mb-4">Create Your Account</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="name" class="form-label"
                >Organization Name <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                [(ngModel)]="organizerName"
                placeholder="Organization name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label"
                >Email Address <span class="text-danger">*</span></label
              >
              <input
                type="email"
                class="form-control"
                [(ngModel)]="email"
                placeholder="you@example.com"
                required
              />
            </div>
            <div class="mb-3">
              <label for="name" class="form-label"
                >Contact Person Name <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                [(ngModel)]="contactName"
                placeholder="Contact person name"
                required
              />
            </div>

            <div class="mb-3">
              <label for="email" class="form-label"
                >State/Region <span class="text-danger">*</span></label
              >
              <select [(ngModel)]="selectedState" class="form-control" (change)="onChangeState()">
                <option value="">--Select--</option>
                <option *ngFor="let state of States" [value]="state">{{state}}</option>
              </select>
            </div>

            
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="name" class="form-label"
                >Type of Organizer <span class="text-danger">*</span></label
              >
              <select [(ngModel)]="typeOfOrganizer" class="form-control">
                <option value="">--Select--</option>
                <option value="Individual">Individual</option>
                <option value="Company">Company</option>
                <option value="Firm">Firm</option>
                <option value="NGO">NGO</option>
                <option value="Other">Other</option>
              </select>
            </div>
            
            <div class="mb-3">
              <label for="phone" class="form-label"
                >Mobile Number <span class="text-danger">*</span></label
              >
              <input
                type="tel"
                class="form-control"
                [(ngModel)]="mobileNumber"
                placeholder="Mobile number"
                required
              />
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label"
                >Country <span class="text-danger">*</span></label
              >
              <select [(ngModel)]="selectedCountry" class="form-control" (change)="onChangeCountry()">
                <option value="">--Select--</option>
                <option *ngFor="let country of Countries" [value]="country.shortName">{{country?.name}}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label"
                >City <span class="text-danger">*</span></label
              >
             <select [(ngModel)]="selectedCity" class="form-control">
                <option value="">--Select--</option>
                <option *ngFor="let city of Cities" [value]="city.name">{{city.name}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary" (click)="handleRegistration()">Register</button>
        </div>

        <p class="text-center mt-3">
          Already have an account? <a routerLink="/login">Login</a>
        </p>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise">
  <p style="color: white">Loading...</p>
</ngx-spinner>

