.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  background: #1b2b48;
  color: white;
  padding: 20px 10px;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 70px;
}

/* Header Flex */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Toggle Button */
.toggle-btn {
  background: transparent;
  color: white;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

/*  */

nav {
  display: block !important;
  width: 100%;
}

nav a {
  display: block !important;      /* forces each item on a new line */
  width: 100%;
  padding: 12px 15px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  white-space: nowrap;            /* text stays in one row */
}

nav a:hover {
  background: #0f182b;
}

nav a i {
  font-size: 20px;
  width: 25px;                     /* keeps alignment when collapsed */
  text-align: center;
}

nav a.active {
  background-color: #4dabff !important;
}


/* Hide text when collapsed */
.sidebar.collapsed nav a span {
  display: none;
}
/* Auto collapse sidebar on screens less than 992px (tablet & mobile) */
@media (max-width: 992px) {
  .sidebar {
    width: 70px !important;
  }

  .sidebar nav a span {
    display: none !important;   /* hide text */
  }
}
/* Auto collapse on tablet & mobile */
@media (max-width: 991px) {
  .sidebar {
    width: 70px !important;
  }
  .sidebar:not(.manual-open) nav a span {
    display: none !important;
  }
}
