body {
  background: #f4f6f9;
  font-family: "Poppins", sans-serif;
}

/* .sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #1b2b48;
  color: #fff;
  padding-top: 20px;
}

.sidebar a {
  padding: 12px 20px;
  display: block;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar a:hover {
  background: #0f182b;
} */


.issue-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  font-weight: 700;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.12);
}

.cus-card{
  background: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.12);
}

.hover:hover {
  /* background: rgb(255, 242, 242); */
  box-shadow: -1px 0px 15px 13px rgb(0 0 0 / 25%);
  cursor: pointer;
}

.workflow-box {
  border-radius: 12px;
  padding: 35px 25px;
  background: #fff;
  text-align: center;
  font-weight: 600;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.workflow-box:hover {
  transform: translateY(-5px);
}

.main-content {
  margin-left: 220px;
  padding: 30px;
  transition: margin-left 0.3s ease;
}

.main-content.collapsed {
  margin-left: 70px;
}

.page-title {
  font-weight: 700;
  margin-bottom: 20px;
}

/* When sidebar is manually collapsed */
.main-content.collapsed {
  margin-left: 70px;
}

/* Auto full width on tablet/mobile */
@media (max-width: 992px) {
  .main-content {
    margin-left: 70px !important;
  }
}



/* ================================================ */

.mail-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #f8fbfd;
  padding: 10px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.menu {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 5px;
  display: flex;
  /* justify-content: space-between; */
}

.menu:hover {
  background: #e7e2e2;
}

.menu.active {
  background: hwb(0 91% 9%);
  color: #3f3b3b;
}

.count {
  font-size: 12px;
  background: #fff;
  color: #d93025;
  padding: 2px 6px;
  border-radius: 10px;
}

/* Content */
.content {
  flex: 1;
  padding: 20px;
  background: #fff;
}

.mail-list {
  margin-top: 10px;
}

.mail-item {
  padding: 12px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}

.mail-item:hover {
  background: #f7f7f7;
}

.mail-from {
  font-weight: bold;
}

.mail-subject {
  flex: 1;
  margin-left: 15px;
}

.mail-time {
  color: gray;
  font-size: 12px;
}

.empty {
  color: gray;
  margin-top: 20px;
}

