<app-loader [show]="loader"></app-loader>

<!-- HERO / Carousel -->
<div style="padding-left: 20px; padding-right: 20px">
  <section class="hero" *ngIf="featured.length">
    <div
      class="slides"
      [style.transform]="'translateX(-' + currentSlide * 100 + '%)'"
    >
      <section
        class="slide"
        *ngFor="let f of featured"
        [style.backgroundImage]="
          'linear-gradient(180deg, rgba(2,6,23,0.18), rgba(2,6,23,0.12)), url(' +
          f.bg +
          ')'
        "
      >
        <div cclass="info" style="float: right;padding-left: 20px;padding-right: 20px;">
          <h1 style="font-weight: bold;color:aliceblue">{{ f.title }}</h1>
          <p style="font-weight: bold;font-size: 1.2em;">{{ f.tagline }}</p>
          <div>
            <button class="btn" routerLink="/login">Sign In</button> &nbsp;&nbsp;
            <button class="btn ghost" routerLink="/register">Sign Up</button>
          </div>
        </div>
        <div style="flex: 1"></div>
      </section>
    </div>

    <div class="carousel-controls">
      <button (click)="prevSlide()">◀</button>
      <button (click)="nextSlide()">▶</button>
    </div>
  </section>

  <!-- Filters -->
  <div class="filters-row">
    <div class="filters">
      <span *ngFor="let cat of categories;let i=index;">
        <a href="#section{{i}}" class="chip active"> {{ cat }} </a>
      </span>
    </div>

    <!-- <div class="right-controls" style="float: right">
      <div class="badge">City: Guwahati</div>
      <button class="btn ghost" (click)="resetFilters()">Reset</button>
    </div> -->
  </div>

  <!-- Events grid -->
  <!-- <section>
    <h2>Now Showing</h2>
    <div class="grid" *ngIf="filtered.length; else noResults">
      <article class="card event-card" *ngFor="let m of filtered">
        <div class="image-container">
          <img [src]="m.poster" class="card-img-top" alt="{{ m.title }}" />
        </div>
        <div class="meta">
          <div class="title-row">
            <div>
              <div class="title">{{ m.title }}</div>
              <div class="sub">{{ m.genre }} • {{ m.runtime }}</div>
            </div>
            <div style="text-align: right">
              <div class="rating">{{ m.rating }}</div>
              <div class="imdb">{{ m.city }}</div>
            </div>
          </div>

          <div style="flex: 1"></div>
          <div class="card-footer">
            <div class="lang">{{ m.organizer }}</div>
            <div>
              <a
                [routerLink]="['/event', m.id]"
                class="btn btn-outline-primary btn-sm w-100"
              >
                View
            </div>
          </div>
        </div>
      </article>
    </div>

    <ng-template #noResults>
      <div class="no-results">No results found</div>
    </ng-template>
  </section> -->
  <main class="jtv-main"  *ngIf="categories.length; else noResults">
    <section *ngFor="let cat of categories;let i=index;" class="category-section" id="section{{i}}">
      <h2 class="cchip cat-title aactive">{{ cat }} <a [routerLink]="['/events-by-category', cat]"><span style="float: right;font-size: 14px;bottom: 0;margin-top: 25px;">View All</span></a></h2>
      
      <div class="slider-container">
        <button class="nav-btn left" (click)="scrollLeft(cat, i)">‹</button>

        <div class="card-slider" id="slider{{i}}">
          <div class="slider-wrapper">
            <div
              *ngFor="let m of groupedChannels[cat]"
              class="cchannel-card">
              <!-- <img [src]="ch.poster" [alt]="ch.title" loading="lazy" />
              <div class="card-meta">
                <strong>{{ ch.title }}</strong>
              </div> -->
              <article class="card event-card">
                <div class="image-container">
                  <img
                    [src]="m.poster"
                    class="card-img-top"
                    alt="{{ m.title }}"
                    loading="lazy"
                  />
                </div>
                <div class="meta">
                  <div class="title-row">
                    <div>
                      <div class="title">{{ m.title }}</div>
                      <div class="sub">{{ m.genre }} • {{ m.runtime }}</div>
                    </div>
                    <div style="text-align: right">
                      <!-- <div class="rating">{{ m.rating }}</div> -->
                      <div class="imdb">{{ m.city }}</div>
                    </div>
                  </div>

                  <div style="flex: 1"></div>
                  <div class="card-footer">
                    <div class="lang">{{ m.organizer }}</div>
                    <div>
                      <a
                        [routerLink]="['/event', m.id]"
                        class="btn btn-outline-primary btn-sm w-100"
                      >
                        View
                      </a>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>

        <button class="nav-btn right" (click)="scrollRight(cat,i)">›</button>
      </div>
    </section>
  </main>
  <ng-template #noResults>
      <div class="no-results">No results found</div>
    </ng-template>
</div>

<ngx-spinner
  bdColor="rgba(255,255,255,0.8)"
  size="medium"
  color="#5b3fd4"
  type="ball-spin-clockwise"
  [fullScreen]="false"
  name="nowShowingSectionSpinner"
></ngx-spinner>
