<mat-sidenav-container class="admin-container">
  <mat-sidenav class="admin-sidenav" mode="side" opened>
    <!-- <div cclass="sidenav-header"><img src="assets/image/brand.png" alt="" height="65px" width="220px" style="margin-top:-20px; position: absolute;z-index: 99999;"></div> -->
    <a class="brand" href="#" style="gap:0px !important;">
        <div cclass="logo"><img src="assets/image/celebrate7_transparent.png" alt="" height="65px" width="70px" style="margin:0px;padding: 0px;"></div>
        <div style="margin:0px;padding: 0px;">
          <div class="rainbow">Celebrate7</div>
          <div style="font-size:12px;color:#fc946f;">Event, Shows & more</div>
        </div>
      </a>
    <mat-nav-list style="margin-top: 20px;">
      <a mat-list-item routerLink="/sa-dashboard" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/organizers" routerLinkActive="active-link">
        <mat-icon>people</mat-icon>
        <span>Manage Organizers</span>
      </a>
       <a mat-list-item routerLink="/event-categories" routerLinkActive="active-link">
        <mat-icon>book_online</mat-icon>
        <span>Event Categories</span>
      </a>
      <a mat-list-item routerLink="/create-event" routerLinkActive="active-link">
        <mat-icon>add</mat-icon>
        <span>Create Event</span>
      </a>
      <a mat-list-item routerLink="/all-events" routerLinkActive="active-link">
        <mat-icon>event</mat-icon>
        <span>All Events</span>
      </a>
      <!-- <a mat-list-item routerLink="javascript:;" routerLinkActive="active-link">
        <mat-icon>payments</mat-icon>
        <span>Sponsors & Partners</span>
      </a>
      <a mat-list-item routerLink="javascript:;" routerLinkActive="active-link">
        <mat-icon>reports</mat-icon>
        <span>Reports & Analytics</span>
      </a>
      <a mat-list-item routerLink="javascript:;" routerLinkActive="active-link">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a> -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
  <span class="toolbar-title">Welcome Super Admin</span>
  <span class="spacer"></span>
  <button (click)="handleLogout()" mat-button color="aliceblue">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-toolbar>
    <div class="admin-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
