<footer class="cabinet-footer d-flex flex-column align-items-center p-4">

  <div class="d-flex flex-row">
    <p class="">
      <span class="p-3"> <a href="/">Home</a> </span> |
      <span class="p-3"> <a href="/">Contact Us</a> </span> |
      <span class="p-3"> <a href="/">About</a> </span> |
      <span class="p-3"> <a href="https://guwahati.gov.in">Privacy Policy</a> </span> |
      <span class="p-3"> <a href="https://gmc.assam.gov.in/policy/website-governance">Website Governance</a> </span> |
      <span class="p-3"> <a href="https://gmc.assam.gov.in/policy/website-information-manager">Website Information Manager</a> </span>
    </p>
  </div>

  <div class="d-flex flex-column align-items-center mt-1">
    <p>
      <i>&copy; 2026 & Beyond | Current Ownership Guwahati Municipal Corporation, Govt. of Assam</i>
    </p>
    <p class="">
      <span>
        <i>Designed & Developed by - </i>
      </span>
      <span>
        <i><a href="https://skaplinktechnologies.com">Skaplink Technologies Pvt. Ltd</a></i>
      </span>
    </p>
  </div>

</footer>