/* BookMyShow Style Footer */
.cabinet-footer {
  background: #2c2c2c;
  color: #9e9e9e;
  /* padding: 10px 20px; */
  text-align: center;
  font-family: "Arial", sans-serif;
}

.copyright-text {
  color: #c3c3c3;
}

