<app-sidebar (collapsedChange)="onSidebarToggle($event)"></app-sidebar>

<div class="main-content" [class.collapsed]="sidebarCollapsed">
  <h3 class="page-title" style="text-align: center; color: rgb(87, 90, 92)">
    ISSUE BUCKET
  </h3>

  <div class="mail-container">
    <!-- Sidebar -->
    <div class="sidebar">
      <div class="menu">
        <button
          style="background-color: #8b8f98"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#issueModal"
        >
          <i class="bi bi-pencil-square"></i> Compose Issue
        </button>
      </div>

      <div
        class="menu"
        [class.active]="activeTab === 'inbox'"
        (click)="selectTab('inbox')"
      >
        <i class="bi bi-inbox"></i> &nbsp; Inbox &nbsp;&nbsp;
        <span class="count" style="float: right">{{ issues.inbox.length }}</span>
      </div>

      <div
        class="menu"
        [class.active]="activeTab === 'sent'"
        (click)="selectTab('sent')"
      >
        <i class="bi bi-send"></i> &nbsp;Sent &nbsp;&nbsp;
        <span class="count" style="float: right">{{ issues.sent.length }}</span>
      </div>

      <div
        class="menu"
        [class.active]="activeTab === 'draft'"
        (click)="selectTab('draft')"
      >
        <i class="bi bi-file-earmark-text"></i> &nbsp;Drafts &nbsp;&nbsp;
        <span class="count" style="float: right">{{ issues.draft.length }}</span>
      </div>
    </div>

    <!-- Content -->
    <div class="content" *ngIf="!isDetailView">
      <h3><i *ngIf="activeTab=='inbox'" class="bi bi-inbox"></i><i *ngIf="activeTab=='sent'" class="bi bi-send"></i><i *ngIf="activeTab=='draft'" class="bi bi-file-earmark-text"></i>&nbsp;{{ activeTab | titlecase }}</h3>
      <div class="mail-list" *ngIf="issues[activeTab]?.length; else noIssue">
        <div *ngFor="let issue of issues[activeTab]">
          <div class="mail-item" style="cursor: pointer;" (click)="onView(issue)">
            <div class="mail-from">{{ issue.from || issue.to || "Draft" }}</div>
            <div class="mail-subject">{{ issue.subject }}</div>
            <div class="mail-time">{{ issue.time }}</div>
          </div>
        </div>
      </div>

      <ng-template #noIssue>
        <div class="empty">No issues</div>
      </ng-template>
    </div>
    <div class="content" *ngIf="isDetailView">
        <h4><strong><a href="javascript:;" (click)="onBack()"><i class="bi bi-arrow-left"></i> </a>&nbsp;{{ selectedIssue?.title }}</strong></h4>
        <app-issue-details [issue]="selectedIssue" [activeTab]="activeTab" [user]="user" (onSent)="onSent($event)"></app-issue-details>
    </div>
  </div>

  <!-- Bootstrap Modal -->
  <div class="modal fade" id="issueModal" tabindex="-1">
    <div class="modal-dialog modal-md">
      <div class="modal-content shadow-lg border-0 rounded-3">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title fw-bold"><i class="bi bi-pencil-square"></i>&nbsp;New Issue</h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 mt-2">
              <label class="form-label fw-semibold">Issue Title *</label>
              <input
                type="text"
                class="form-control form-control-sm"
                [(ngModel)]="issue.title"
              />
            </div>

            <div class="col-md-12 mt-2">
              <label class="form-label fw-semibold">Ward No *</label>
              <input
                type="number"
                class="form-control form-control-sm"
                [(ngModel)]="issue.ward"
              />
            </div>

            <div class="col-md-12 mt-2">
              <label class="form-label fw-semibold">Location *</label>
              <input
                type="text"
                class="form-control form-control-sm"
                [(ngModel)]="issue.location"
              />
            </div>

            <div class="col-md-12 mt-2">
              <label class="form-label fw-semibold">Description *</label>
              <textarea
                class="form-control form-control-sm"
                rows="5"
                [(ngModel)]="issue.description"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer bg-light">
          <button
            id="issueModalClose"
            class="btn btn-default rounded-pill"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button class="btn btn-primary rounded-pill" (click)="submitIssue()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
  style="background-color: aliceblue"
>
  <p style="color: white">
    <i
      class="fa fa-circle-o-notch fa-spin fa-4x text-danger"
      aria-hidden="true"
    ></i
    >Loading...Please Wait
  </p>
</ngx-spinner>
