<div class="main-content container py-4">

   <!-- Issue Section -->
<div class="issue-card">
<!-- <h2>{{ issue.title }}</h2> -->
<p>{{ issue.description }}</p>


<div class="attachments">
<h4>Attachments</h4>
<ul>
<li *ngFor="let file of issue.attachments">
<!-- 📄 {{ file.name }} -->
 <a [href]="file.src" target="_blank">{{ file.name }}</a>
</li>
</ul>
</div>
</div>


<!-- Members Voting Section -->
<h3>Cabinet Members Voting Status</h3>

<!-- Result Section -->
<div class="result-card">
<h3>Final Result</h3>
<p><strong>Members Voted:</strong> {{ votedCount }}/{{members.length}}</p>
<h2 class="result">{{ result }}</h2>
</div>


<div class="members-grid">
<div class="member-card" *ngFor="let m of members">
<h4 [class.disabled-div]="user.userId!=m.id" style="padding-bottom: 0px;margin-bottom: 0px;text-align: center;">{{ m?.name }}</h4>
<h6 [class.disabled-div]="user.userId!=m.id" style="padding: 0px;text-align: center;">{{ m?.roleName }}</h6>


<div *ngIf="!m?.vote" class="vote-buttons" [class.disabled-div]="user.userId!=m.id">
<button [disabled]="user.userId!=m.id" class="approve" (click)="castVote(m, 'Approved')">Approve</button>
<button [disabled]="user.userId!=m.id" class="reject" (click)="castVote(m, 'Rejected')">Reject</button>
<button [disabled]="user.userId!=m.id" class="abstain" (click)="castVote(m, 'Abstained')">Abstain</button>
</div>


<div *ngIf="m?.vote" class="voted" style="text-align: center;">✔ Vote: {{ user.userId==m.id ? m.vote : 'Polled' }}</div>
</div>
</div>


</div>
