<div class="main-content container py-4">

   <!-- Issue Section -->
<div class="issue-card">
<!-- <h2>{{ issue.title }}</h2> -->
<p>{{ issue.description }}</p>


<div class="attachments">
<h4>Attachments</h4>
<ul>
<li *ngFor="let file of issue.attachments">
<!-- 📄 {{ file.name }} -->
 <a [href]="file.src" target="_blank">{{ file.name }}</a>
</li>
</ul>
</div>
</div>


<!-- Members Voting Section -->
<h3>Cabinet Members Voting Status</h3>

<!-- Result Section -->
<div class="result-card">
<h3>Final Result</h3>
<p><strong>Members Voted:</strong> {{ votedCount }}/9</p>
<h2 class="result">{{ result }}</h2>
</div>


<div class="members-grid">
<div class="member-card" *ngFor="let m of members">
<h4>{{ m.name }}</h4>


<div *ngIf="!m.vote" class="vote-buttons">
<button class="approve" (click)="castVote(m, 'Approve')">Approve</button>
<button class="reject" (click)="castVote(m, 'Reject')">Reject</button>
<button class="abstain" (click)="castVote(m, 'Abstain')">Abstain</button>
</div>


<div *ngIf="m.vote" class="voted">✔ Voted: {{ m.vote }}</div>
</div>
</div>


</div>
