.main-content {
  /* margin-left: 250px; */
  padding: 30px;
  transition: margin-left 0.3s ease;
}

.main-content.collapsed {
  margin-left: 70px;
}

.page-title {
  font-weight: 700;
  margin-bottom: 20px;
}

/* When sidebar is manually collapsed */
.main-content.collapsed {
  margin-left: 70px;
}

/* Auto full width on tablet/mobile */
@media (max-width: 992px) {
  .main-content {
    margin-left: 70px !important;
  }
}


/* main content styles */




.issue-card {
background: #f4f6f9;
padding: 20px;
border-left: 6px solid #2c3e50;
margin-bottom: 25px;
}


.attachments ul {
padding-left: 20px;
}


.members-grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 15px;
}


.member-card {
border: 1px solid #ddd;
padding: 15px;
background: #fff;
border-radius: 6px;
}


.vote-buttons button {
margin: 5px 5px 0 0;
padding: 6px 10px;
border: none;
border-radius: 4px;
cursor: pointer;
}


.approve { background: #27ae60; color: white; }
.reject { background: #c0392b; color: white; }
.abstain { background: #f39c12; color: white; }


.voted {
margin-top: 10px;
font-weight: bold;
color: #2c3e50;
}


.result-card {
margin-top: 30px;
margin-bottom: 30px;
padding: 20px;
text-align: center;
background: #ecf0f1;
border-radius: 6px;
}


.result {
font-size: 28px;
color: #2c3e50;
}

.disabled-div {
  pointer-events: none;   /* blocks clicks */
  opacity: 0.5;           /* visual disabled effect */
}