<mat-toolbar class="custom-toolbar" style="position: fixed">
  <span class="toolbar-title">
    <h1 style="font-size: 1.3em; font-weight: bold">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Guwahati_Municipal_Corporation_logo.svg/250px-Guwahati_Municipal_Corporation_logo.svg.png"
        alt="GMC Logo"
        height="50"
        width="50"
      />eMIC GMC
    </h1>
  </span>
  <span class="spacer">Welcome- {{ loggedInUser }}</span>
  <button (click)="handleLogout()" mat-button color="aliceblue">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-toolbar>
<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <h5
      *ngIf="!isCollapsed"
      class="fw-bold"
      style="text-align: center !important"
    >
      &nbsp;&nbsp;&nbsp;&nbsp;Menu Bar
    </h5>

    <!-- Toggle Button -->
    <button class="toggle-btn" (click)="toggleSidebar()">
      <i *ngIf="isCollapsed" class="bi bi-list pl-2"></i>
      <i *ngIf="!isCollapsed" class="bi bi-list"></i>
      <!-- <i *ngIf="!isCollapsed" class="bi bi-caret-left"></i> -->
    </button>
  </div>

  <nav *ngIf="user.role == 'branch_user'">
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-speedometer2"></i>
      <span *ngIf="!isCollapsed"> Dashboard</span>
    </a>
    <a
      routerLink="/branch-issue-bucket"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-file-earmark-text"></i>
      <span *ngIf="!isCollapsed"> Agenda Bucket</span>
    </a>
    <a
      *ngIf="user.isVoter"
      routerLink="/voting-zone"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-people-fill"></i>
      <span *ngIf="!isCollapsed"> MIC Meeting Zone</span>
    </a>
    <a href="javascript:;" (click)="handleLogout()">
      <i class="bi bi-box-arrow-right"></i>
      <span *ngIf="!isCollapsed"> Logout</span>
    </a>
  </nav>
  <nav *ngIf="user.role == 'municipal_secretary'">
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-speedometer2"></i>
      <span *ngIf="!isCollapsed"> Dashboard</span>
    </a>
    <a
      routerLink="/municipal-secretary-issue-bucket"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-file-earmark-text"></i>
      <span *ngIf="!isCollapsed"> Agenda Bucket</span>
    </a>
    <a
      *ngIf="user.isVoter"
      routerLink="/voting-zone"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-people-fill"></i>
      <span *ngIf="!isCollapsed"> MIC Meeting Zone</span>
    </a>
    <a href="javascript:;" (click)="handleLogout()">
      <i class="bi bi-box-arrow-right"></i>
      <span *ngIf="!isCollapsed"> Logout</span>
    </a>
  </nav>
  <nav *ngIf="user.role == 'commissioner'">
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-speedometer2"></i>
      <span *ngIf="!isCollapsed"> Dashboard</span>
    </a>

    <a
      routerLink="/commissioner-issue-bucket"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-file-earmark-text"></i>
      <span *ngIf="!isCollapsed"> Agenda Bucket</span>
    </a>
    <!-- <a routerLink="/vote-page"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-check-square"></i>
      <span *ngIf="!isCollapsed"> Approved Issues</span>
    </a>

    <a routerLink="/vote-page"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-x-square"></i>
      <span *ngIf="!isCollapsed"> Rejected Issues</span>
    </a> -->
    <a
      *ngIf="user.isVoter"
      routerLink="/voting-zone"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-hand-thumbs-up"></i>
      <span *ngIf="!isCollapsed"> Voting Zone</span>
    </a>
    <!-- 
        <a routerLink="/reports" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="bi bi-bar-chart-line"></i>
            <span *ngIf="!isCollapsed"> Reports</span>
        </a>

        <a href="#">
            <i class="bi bi-gear"></i>
            <span *ngIf="!isCollapsed"> Settings</span>
        </a> -->

    <a href="javascript:;" (click)="handleLogout()">
      <i class="bi bi-box-arrow-right"></i>
      <span *ngIf="!isCollapsed"> Logout</span>
    </a>
  </nav>
  <nav *ngIf="user.role == 'mayor'">
    <a
      routerLink="/dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-speedometer2"></i>
      <span *ngIf="!isCollapsed"> Dashboard</span>
    </a>

    <a
      routerLink="/mayor-issue-bucket"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-file-earmark-text"></i>
      <span *ngIf="!isCollapsed"> Agenda Bucket</span>
    </a>
    <a
      routerLink="/issue-archive"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-inbox"></i>
      <span *ngIf="!isCollapsed"> Agenda Archive</span>
    </a>
    <!-- <a routerLink="/vote-page"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-check-square"></i>
      <span *ngIf="!isCollapsed"> Approved Issues</span>
    </a>

    <a routerLink="/vote-page"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-x-square"></i>
      <span *ngIf="!isCollapsed"> Rejected Issues</span>
    </a> -->
    <a
      *ngIf="user.isVoter"
      routerLink="/voting-zone"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bi bi-people-fill"></i>
      <span *ngIf="!isCollapsed"> MIC Meeting Zone</span>
    </a>
    <!-- 
        <a routerLink="/reports" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="bi bi-bar-chart-line"></i>
            <span *ngIf="!isCollapsed"> Reports</span>
        </a>

        <a href="#">
            <i class="bi bi-gear"></i>
            <span *ngIf="!isCollapsed"> Settings</span>
        </a> -->

    <a href="javascript:;" (click)="handleLogout()">
      <i class="bi bi-box-arrow-right"></i>
      <span *ngIf="!isCollapsed"> Logout</span>
    </a>
  </nav>
</div>
